{% from '_macros/field-has_error.html.twig' import hasError %}


{% if action is not defined %}
    {% set action  = path('post_create') %}
{% endif %}

{{ form_start(comment_form, { 'action': action }) }}

<div class="form-group">
    {{ form_label(comment_form.content) }}

    {{ form_widget(comment_form.content, {'attr': { 'class': 'form-control ' ~ hasError(comment_form.content) }}) }}

    <div class="text-danger">
        {{ form_errors(comment_form.content) }}
    </div>

</div>


{{ form_widget(comment_form.submit, { 'attr': { 'class' : 'btn btn-primary'}}) }}

    {{ form_end(comment_form) }}