{% extends 'base.html.twig' %}

{% block title %}
    Liste des publications publiques
{% endblock %}


{% block headerContent %}
    <h1 class="display-4">Instafrep</h1>
    <p class="lead">42 nouveaux posts aujourd'hui</p>

{%  endblock %}

{% block mainContent %}

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{ pagination.current > 1 ? "": "disabled" }}">
                        <a class="page-link" href="{{ path('posts_list', { 'p': pagination.current - 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for i in 1..pagination.max %}

                        {% if
                            i == 1 or
                            i == 2 or
                            i == pagination.max - 1 or
                            i == pagination.max or
                            i == pagination.current or
                            i == pagination.current - 1 or
                            i == pagination.current + 1
                        %}

                        <li class="page-item {{ pagination.current == i ? 'active' : '' }}">
                            <a class="page-link" href="{{ path('posts_list', { 'p': i }) }}">{{ i }}</a>
                        </li>

                        {% elseif
                            i == pagination.current - 2 or
                            i == pagination.current + 2
                        %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">...</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    <li class="page-item {{ pagination.current < pagination.max ? "" : "disabled" }}">
                        <a class="page-link" href="{{ path('posts_list', { 'p': pagination.current + 1}) }}"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <ul>
        {% for post in posts %}
            <li>
                {% include 'post/card.html.twig' %}
            </li>
        {% endfor  %}
    </ul>




{% endblock %}



{% block sidebarContent %}

    <div class="sticky">
        {% include 'post/form.html.twig' %}
    </div>
{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/like.js') }}"></script>

{% endblock %}