{% extends 'base.html.twig' %}

{% block title %}
    Liste des publications publiques
{% endblock %}


{% block headerContent %}
    <h1 class="display-4">Instafrep</h1>
    <p class="lead">42 nouveaux posts aujourd'hui</p>

{%  endblock %}

{% block mainContent %}

    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{ pagination.current > 1 ? "": "disabled" }}">
                        <a class="page-link" href="{{ path('posts_list', { 'p': pagination.current - 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {#            <li class="page-item"><a class="page-link" href="#">1</a></li>#}
                    {#            <li class="page-item"><a class="page-link" href="#">2</a></li>#}
                    {#            <li class="page-item"><a class="page-link" href="#">3</a></li>#}

                    <li class="page-item {{ pagination.current < pagination.max ? "" : "disabled" }}">
                        <a class="page-link" href="{{ path('posts_list', { 'p': pagination.current + 1}) }}"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <ul>
        {% for post in posts %}
            <li>
                {% include 'post/card.html.twig' %}
            </li>
        {% endfor  %}
    </ul>




{% endblock %}



{% block sidebarContent %}

    <div class="sticky">
        {% include 'post/form.html.twig' %}
    </div>
{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/like.js') }}"></script>

{% endblock %}