<nav aria-label="posts pagination" class="post-pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item {{ pagination.current > 1 ? "": "disabled" }}">
            <a class="page-link" href="{{ path('posts_list', { 'p': pagination.current - 1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for i in 1..pagination.max %}

            {% if
                i == 1 or
                i == 2 or
                i == pagination.max - 1 or
                i == pagination.max or
                i == pagination.current or
                i == pagination.current - 1 or
                i == pagination.current + 1
            %}

                <li class="page-item {{ pagination.current == i ? 'active' : '' }}">
                    <a class="page-link" href="{{ path('posts_list', { 'p': i }) }}">{{ i }}</a>
                </li>

            {% elseif
                i == pagination.current - 2 or
                i == pagination.current + 2
            %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}


        <li class="page-item {{ pagination.current < pagination.max ? "" : "disabled" }}">
            <a class="page-link" href="{{ path('posts_list', { 'p': pagination.current + 1}) }}"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>